body {
    font-family: sans-serif;
   background-color: burlywood;
}

table {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 10%;
}
  
td, th {
    border: 2px solid black;
    text-align: justify;
    padding: 8px;
    font-size: large;
}

#questions {
    border: 2px solid black;
    text-align: justify;
    padding: 8px;
    font-size: large;
    width: 30%;
}
