body {
    font-family: sans-serif;
    background-image: linear-gradient(360deg, #bc4ad3 0%, #07a1fa 74%, #27cdeb 90%)
}

table {
    font-family: Bradley Hand ITC;
    border-collapse: collapse;
    width: 10%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: justify;
    padding: 8px;
    font-size: large;
}

#questions {
    border: 1px solid #dddddd;
    text-align: justify;
    padding: 8px;
    font-size: large;
    width: 30%;
}
