body {
    font-family: sans-serif;
   background-color: Wheat;  
}

table {
    font-family: Bradley Hand ITC;
    border-collapse: collapse;
    width: 10%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: justify;
    padding: 8px;
    font-size: large;
}

#questions {
    border: 1px solid green;
    text-align: justify;
    padding: 8px;
    font-size: large;
    width: 30%;
}
